@import '../../styles/mixings.scss';

:root {
  --text-font: 'Lato', sans-serif;
  --title-font: 'Noto Sans KR', sans-serif;
  --main-font: var(--text-font);

  --deep-navy: #001b61;
  --white: #fff;
  --bright-pink: #ed6193;
  --light-blue: #5e92f3;
  --grey-light: #d7d7d7;
  --pale-navy: #dee0f8;
  --strong-red: #ce0000;
  --bright-orange: #fdd835;
}

:root .dark {
  transition-duration: 0.3s;
  transition-timing-function: linear;

  --header-background: var(--pale-navy);
  --main-background: var(--dark);

  --base-text-color: var(--deep-navy);

  --button-background: var(--pale-navy);
  --button-text: var(--dark);
  --button-background-disabled-text: var(--grey-light);
  --button-hover-background: var(--light-blue);
  --button-hover-text: var(--pale-navy);

  --input-border-color: var(--light-blue);
  --input-focus: var(--bright-pink);
  --input-hover: var(--bright-pink);
  --input-error: var(--strong-red);
  --input-icon-eye-password: var(--anakiwa);
  --input-placeholder: var(--grey-light);

  --error-background-color: var(--strong-red);
  --error-message-color: var(--white);

  --loading-ring: var(--pale-navy);

  --label-text-color: var(--deep-navy);
}

:root .light {
  transition-duration: 0.3s;
  transition-timing-function: linear;

  --header-background: var(--pale-navy);
  --main-background: var(--dark);

  --base-text-color: var(--deep-navy);

  --button-background: var(--pale-navy);
  --button-text: var(--dark);
  --button-background-disabled-text: var(--grey-light);
  --button-hover-background: var(--light-blue);
  --button-hover-text: var(--pale-navy);

  --input-border-color: var(--light-blue);
  --input-focus: var(--bright-pink);
  --input-hover: var(--bright-pink);
  --input-error: var(--strong-red);
  --input-icon-eye-password: var(--anakiwa);
  --input-placeholder: var(--grey-light);

  --error-background-color: var(--strong-red);
  --error-message-color: var(--white);

  --loading-ring: var(--pale-navy);

  --label-text-color: var(--deep-navy);
}
