:root {
  --text-font: 'Lato', sans-serif;
  --title-font: 'Noto Sans KR', sans-serif;
  --main-font: var(--text-font);

  --deep-navy: #001b61;
  --white: #fff;
  --bright-pink: #ed6193;
  --light-blue: #5e92f3;
  --grey-light: #b3b3b3;
  --pale-navy: #dee0f8;
  --strong-red: #ce0000;
  --bright-orange: #fdd835;
}
