:root .dark {
  transition-duration: 0.3s;
  transition-timing-function: linear;

  --header-background: var(--pale-navy);
  --main-background: var(--dark);

  --base-text-color: var(--deep-navy);

  --button-background: var(--pale-navy);
  --button-text: var(--dark);
  --button-background-disabled-text: var(--grey-light);
  --button-hover-background: var(--light-blue);
  --button-hover-text: var(--pale-navy);

  --input-border-color: var(--light-blue);
  --input-focus: var(--bright-pink);
  --input-hover: var(--bright-pink);
  --input-error: var(--strong-red);
  --input-icon-eye-password: var(--anakiwa);
  --input-placeholder: var(--grey-light);

  --error-background-color: var(--bright-orange);
  --error-message-color: var(--dark);

  --loading-ring: var(--pale-navy);

  --label-text-color: var(--deep-navy);

  --background-menu: var(--grey-light);
  --background-menu-hover: var(--bright-pink);

  --dashboard-card-selected: #f1f2ff;
}
