@import '../../styles//mixings.scss';

.container {
  padding: 50px;
}

.containerCardCounts {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 15px;

  @include media-breakpoint-between(sm, md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-between(xs, sm) {
    grid-template-columns: 1fr;
  }
}

.cardCount {
  padding: 20px;
  min-width: 200px;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
}

.containerPets {
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 15px;

  @include media-breakpoint-between(sm, md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-between(xs, sm) {
    grid-template-columns: 1fr;
  }
}

.card {
  min-width: 300px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.2);
}

.cardInfo {
  padding: 10px;
}
.containerActions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  margin-top: -40px;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
}

.containerDataDetail {
  display: flex;
  align-items: center;
}

.containerFilters {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.actionCreateNewPet {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;
}
