.menuItemContainer {
  min-width: 60px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--background-menu-hover);
    border-radius: 4px;
  }
}
