.imageError {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.containerActions {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  background-color: var(--white);
}

.successIcon {
  display: flex;
  justify-content: center;
}
